.header{
    background-color: rgb(136, 128, 128);
    padding-top: 50px; 
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #0a0905, #758aff); 
    
      
}

h1{
    padding: 10px;
    color: white;
    font-size: 36px;
    margin-top: 50px;
    
}